<p>会員一覧</p>
<div>
  <div>
    <table>
      <thead>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customers_path %></td>
            <td><%= customer.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>