<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>会員一覧</h2>
    <table class="table table-bordered">
      <thead>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <% if customer.is_deleted == false %>
              <td>有効</td>
            <% else %>
              <td>退会</td>
            <% end %>
          </tr>
        <% end %>
        <%= paginate @customers %>
      </tbody>
    </table>
  </div>
</div>