<div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th class="active text-center"><h5 class="genre_said">ジャンル検索</h5></th>
      </tr>
    </thead>

    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <th>
            <%= link_to items_path(genre: genre.id) do %>
              <span class="badge"><%= genre.name %></span>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

