<div class="col-xs-2">
  <table class="table table-bordered table-hover text-center ec-genre-list" >
    <thead>
      <tr>
        <td>
          <th class="active text-center"><h5 class="genre_said">ジャンル検索</h5></th>
        </td>
      </tr>
    </thead>

    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td>
            <%= link_to items_path(genre: genre.id) do %>
              <span style = "background-color: #F2F2F2" class="badge"><%= genre.name %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>